@charset "UTF-8";

body {
    display: grid;
    grid-template: 15% 1fr 6fr 1fr / 1fr 2fr 1fr;

    width: 100vw;
    height: 100vh;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.top {
    grid-area: 1 / 1 / 2 / -1;

    background-color: lightcoral;
}

.menu {
    grid-area: 2 / 1 / 3 / -1;

    background-color: lightsalmon;
}

.main {
    grid-area: 3 / 1 / -2 / -2;

    background-color: lightgreen;
}

.secondary {
    grid-area: 3 / 3 / -2 / -1;

    background-color: lightyellow;
}

.footer {
    grid-area: -2 / 1 / -1 / -1;

    background-color: lightseagreen;
}