@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    background-color: lightgray;
}

header {
    background-color: rgb(151, 151, 151);
}

header > h1 {
    padding: 10px;

    text-align: center;
}

i#burger {
    display: block;

    padding: 10px;

    background-color: rgb(50, 50, 50);
    color: white;

    text-align: center;

    cursor: pointer;
}

i#burger:hover {
    background-color: white;
    color: black;
}

menu {
    display: none;
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;

    padding: 10px;
    border-top: 2px solid gray;

    background-color: rgb(85, 85, 85);
    color: white;

    text-align: center;

    text-decoration: none;
}

menu > ul > li > a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    border-radius: 10px;

    margin: auto;
    margin-top: 10px;
    padding: 10px;

    background-color: white;
}

article > h2 {
    padding-bottom: 10px;
}

article > p {
    margin-bottom: 20px;

    text-indent: 20px;
    text-align: justify;
}