/* Declaração geral */
@media all {
    * {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }

    html,
    body {
        width: 100vw;
        height: 100vh;
        background: #233EFF no-repeat center/contain;
    }

    h1 {
        color: white;
        text-shadow: 2px 2px 0px #1526A7;
        padding: 10px;
    }
}

/* Orientação retrato */
@media screen and (orientation: portrait) {
    body {
        background-image: url(./images/cev-portrait.jpg);
        background-position: center bottom;
    }
}

/* Orientação paisagem */
@media screen and (orientation: landscape) {
    body {
        background-image: url(./images/cev-landscape.jpg);
        background-position: left bottom;
    }
}