@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;

    background-color: lightskyblue;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat fixed top center/cover;
}

main {
    height: 100vh;

    position: relative;
}

section#telefone {
    height: 627px;
    width: 311px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url('../imagens/frame-iphone.png') no-repeat center;
}

iframe#tela {
    width: 269px;
    height: 471px;

    position: relative;
    top: 80px;
    left: 22px;
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais > a > img {
    box-sizing: border-box;

    width: 50px;
    margin: 10px;

    border-radius: 50%;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

section#redes-sociais > a > img:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);

    transform: translate(-3px, -3px);

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);

    transition: transform .5s, border 1s;
}