@charset "UTF-8";

* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;

    background-color: lightskyblue;
}

body {
    background: url('../imagens/fundo-madeira.jpg') no-repeat fixed top center/cover;
}

main {
    height: 100vh;

    position: relative;
}

section#telefone {
    height: 627px;
    width: 311px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url('../imagens/frame-iphone.png') no-repeat center;
}

iframe#tela {
    width: 269px;
    height: 471px;

    position: relative;
    top: 80px;
    left: 22px;
}