@charset "UTF-8";

/* Mídias Gerais */

/*
||-Tipical Device Breakpoints-||
Pequenas Telas: até 600px
Celular: 601px a 768px
Tablet: 769px a 992px
Desktop: 993px a 1200px
Grandes Telas: acima de 1200px
*/

@media print { /* Impressão */
    * {
        font-family: 'Courier New', Courier, monospace;
    }

    body {
        background-image: url(../images/back-print.jpg); /* Não imprime background */
    }

    main {
        width: 90%;
        border: 2px solid black;
    }

    main h1 {
        color: black;

        text-shadow: none;
    }

    main::after {
        content: 'Impressão do conteúdo adaptada';
        
        text-decoration: overline;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: block; }
    img#pc { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 769px) and (max-width: 992px) { /* Tablet */
    body {
        background-image: url(../images/back-tablet.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: block; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: none; }
}

@media screen and (min-width: 993px) and (max-width: 1200px) { /* Desktop */
    body {
        background-image: url(../images/back-pc.jpg);
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: block; }
    img#tv { display: none; }
}

@media screen and (min-width: 1201px) { /* Grandes Telas */
    body {
        background-image: url(../images/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    img#phone { display: none; }
    img#tablet { display: none; }
    img#print { display: none; }
    img#pc { display: none; }
    img#tv { display: block; }
}