@charset "UTF-8";

/* Mobile First */
* {
    box-sizing: border-box;

    margin: 0px;
    padding: 0px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

html {
    height: 100vh;
}

body {
    background: black url(../images/back-phone.jpg) no-repeat center center/cover;
}

main {
    width: 400px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;

    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.8);
}

h1 {
    font-size: 2em;

    text-align: center;

    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

img {
    display: block;
    margin: auto;
}

img#phone { display: block; }
img#tablet { display: none; }
img#print { display: none; }
img#pc { display: none; }
img#tv { display: none; }