@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;

    background-color: #6722a8;
}

main {
    width: 100vw;
    height: 100vh;

    position: relative;
}

section#login {
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;

    position: absolute;
    top: 50%;
    left: 50%;

    transition: width 0.3s ease, height 0.3s ease;

    background-color: whitesmoke;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    transform: translate(-50%, -50%);
}

section#login > div#img {
    display: block;
    height: 200px;

    background: #6722a8 url(../images/fundo-form2.jpg) no-repeat center/cover;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    margin-bottom: 10px;

    text-align: center;
}

div#form > p {
    font-size: 0.8em;
}

form > div.campo {
    display: block;
    width: 100%;
    height: 40px;
    margin: 5px 0px;
    border: 2px solid #471874;
    border-radius: 8px;

    background-color:#6722a8;
}

div.campo > i {
    width: 40px;
    padding: 5px;

    font-size: 2em;

    color: white;
}

div.campo > input {
    width: calc(100% - 45px);
    height: 100%;
    padding: 4px;
    border: none;
    border-radius: 8px;

    background-color:#8c2fe4;

    font-size: 1em;

    transform: translateY(-13px);
}

div.campo > input::placeholder {
    color: lightgray;
}

div.campo > input:focus-within {
    background-color: whitesmoke;
    outline: none;
}

div.campo > label {
    display: none;
}

form > input[type="submit"] {
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;

    background-color: #BD4890;

    font-size: 1em;

    color: white;

    cursor: pointer;
}

form > input[type="submit"]:hover {
    background-color: #7e3160;
}

form > a.botao {
    display: block;
    width: 100%;
    height: 40px;
    padding-top: 6px;
    margin-top: 5px;
    border: 1px solid #963972;
    border-radius: 5px;

    background-color: lightgray;

    text-align: center;
    text-decoration: none;

    color: #3a122a;
}

form > a.botao:hover {
    background-color: #963972;
}

form > a.botao > i {
    font-size: 0.8em;
}